target/META-INF/mule-src/ccm/src/main/mule/ccm.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd">
    <http:listener-config name="ccm-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="ccm-config" api="ccm.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/inventoryReceiveReq" action="post" content-type="application/json" flow-ref="mf-post-inventoryReceiveReq" />
			<apikit:flow-mapping resource="/inventoryTransferInReq" action="post" content-type="application/json" flow-ref="mf-post-inventoryTransferInReq" />
			<apikit:flow-mapping resource="/inventoryTransferOut" action="post" content-type="application/json" flow-ref="mf-post-inventoryTransferOut" />
			<apikit:flow-mapping resource="/inventoryCountReq" action="post" content-type="application/json" flow-ref="mf-post-inventoryCountReq" />
		</apikit:flow-mappings>
	</apikit:config>
    <api-gateway:autodiscovery apiId="18250209" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="ca4a6ef1-c281-4853-aba3-d298f627cf09" flowRef="ccm-main" />
	<error-handler-plugin:config name="Error_Handler_Plugin_Config" doc:name="Error Handler Plugin Config" doc:id="12672ef6-1113-4086-b6b8-58134e9b7bdf" />
	<flow name="ccm-main">
        <http:listener config-ref="ccm-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="ccm-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mf-post-inventoryCountReq">
        <flow-ref doc:name="sf-post-inventoryCountReq" doc:id="edbfbe33-1583-4620-ad30-fad866c7d7fd" name="sf-post-inventoryCountReq"/>
    </flow>
    <flow name="mf-post-inventoryReceiveReq">
		<flow-ref doc:name="sf-post-inventoryReceiveReq" doc:id="fe93a7ad-5a03-4b92-87cf-0cda40727757" name="sf-post-inventoryReceiveReq" />
    </flow>
    <flow name="mf-post-inventoryTransferInReq">
		<flow-ref doc:name="sf-post-inventoryTransferInReq" doc:id="7f83c086-53a9-4511-9ab4-128f7d2ff28c" name="sf-post-inventoryTransferInReq" />
    </flow>
    <flow name="mf-post-inventoryTransferOut">
        <flow-ref doc:name="sf-post-inventoryTransferOut" doc:id="9564a5a3-485d-412c-bc7c-38e216fab9c4" name="sf-post-inventoryTransferOut" />
    </flow>
	<file:config name="File_Config" doc:name="File Config" doc:id="0a685aa8-72ec-41e7-b02b-2dc2c554e143" >
		<file:connection workingDir="D:\Pratice\Task\ccm" />
	</file:config>   
</mule>
